version: '3.9'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
      POSTGRES_DB: prisma_db
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://prisma:prisma@postgres:5432/prisma_db
    ports:
      - "3000:3000"
